@import '../styles/colors.scss';
.card{
    max-width: 332px;
    height: fit-content;
    padding: 31px 30px;
    border: solid 1px $card-border;
    margin: 0 15px 30px;
    .category{
        color: $gray;
        margin: 12px 0 3px;
        font-size: 12px;
        line-height: 20px;
    }
    .description{
        font-size: 14px;
        line-height: 22px;
    }
    .price{
        margin: 7px 0 13px;
        font-weight: 500;
        line-height: 20px;
        font-size: 11px;
        &__amount{
            font-size: 22px;
            font-weight: 700;
        }
    }
    .wrapper{
        width: 100%;
        display: flex;
        justify-content: space-between;
        button{
            background-color: $button-green;
            padding: 10px 56px;
            color: #FFF;
            border-radius: 90px;
            font-size: 13px;
            font-weight: 500;
            line-height: 20px;
            border: none;
            cursor: pointer;
        }
    }
}